@charset "UTF-8";

.bsearch {
	background-color: #9ed5f7;
}

.bhome {
	background-color: #9ed5f7;
}

.bfavorites {
	background-color: #9ed5f7;
}

.header {
	font-family: 'Pokemon Solid', sans-serif;
	font-size: xxx-large;
	text-align: center;
	color: #ffcb05;
	text-shadow: 8px 8px #0c12b0;
}

.search {
	text-align: center;
	font-family: 'Pokemon Solid', sans-serif;
	font-size: x-large;
	color: #ffcb05;
	text-shadow: 2px 2px #2a75bb;
}

.button {
	text-align: center;
	display: block;
	background-color: #0c12b0; border : 3px solid #3c5aa6;
	font-family: 'Pokemon Solid', sans-serif;
	font-size: x-large;
	color: #ffcb05;
	text-shadow: 2px 2px #2a75bb;
	margin-left: 507px;
	margin-right: 507px;
	width: 30%;
	border: 3px solid #3c5aa6;
}

.button:hover {
	background-color: #c7a008;
	border: 3px solid #3c5aa6;
}

.favbutton {
	text-align: center;
}

.leftpokeball {
	display: block;
	width: 100px;
	float: left;
	margin-left: auto;
}

.rightpokeball {
	display: block;
	transform: scaleX(-1);
	width: 100px;
	float: right;
	margin-right: auto;
}

.all-card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: "Arial";
	width: 30%;
}

.pokemon-card-container {
	background-color: #876c2d;
	width: 350px;
	height: auto;
	margin: 10%;
	padding: 10px;
	border-radius: 10px;
}

.image {
	width: 200px;
	height: 200px;
}

.content {
	background-color: #e6d2a1;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.background {
	text-align: center;
	background: linear-gradient(to right, #e6d2a1, #c2a04e);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.pokemon-name {
	text-align: center;
	font-size: 19px;
	font-weight: lighter;
	padding: 10px;
}

.pokemon-type {
	background-color: black;
	padding: 7px;
	color: white;
	border-radius: 5px;
	width: 100px;
	display: block;
	text-align: center;
	position: relative;
	top: -90px;
}

.pokemon-logo {
	text-align: center;
	font-size: 14px;
	padding: 20px;
}

.pokemon-stats>p {
	letter-spacing: 1px;
}

.delete-button {
	text-align: center;
	background-color: #0c12b0;
	border: 3px solid #3c5aa6;
	font-family: 'Pokemon Solid', sans-serif;
	font-size: x-large;
	color: #ffcb05;
	text-shadow: 2px 2px #2a75bb;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	padding: 4px;
}

.delete-button:hover {
	background-color: #c7a008;
	border: 3px solid #3c5aa6;
}

ul {
	list-style: none;
	font-family: "Arial";
}

td {
	text-align: center;
}

table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	margin-left: auto;
	margin-right: auto;
}

thead tr {
	background-color: white;
	color: black;
	text-align: center;
	font-family: "Arial";
	color: black;
	text-shadow: 1px 1px #ffcb05;
	font-weight: bolder;
}

th, td {
	padding: 12px 15px;
	font-weight: bold;
	font-family: "Arial";
}

tbody tr {
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

.right-berries {
	float: right;
	margin-right: auto;
	width: 150px;
}

.left-berries {
	float: left;
	margin-left: auto;
	width: 150px;
}

.left-mareep {
	float: left;
	margin-left: auto;
	width: 175px;
	transform: scaleX(-1);
}

.right-mareep {
	float: right;
	margin-right: auto;
	width: 175px;
}

.errorbody {
	background-color: #9ed5f7;
}

.errortext {
	font-family: 'Pokemon Solid', sans-serif;
	font-size: xxx-large;
	text-align: center;
	color: #ffcb05;
	text-shadow: 8px 8px #0c12b0;
}